<div class="mx-auto max-w-screen-xl px-4 py-16 sm:px-6 lg:px-8 grid grid-cols-8 gap-y-10">

    <div class="col-span-8">
        <h1 class="font-bold capitalize  text-2xl">Create your marketing email with AI</h1>
        Introduce information about your business and goal of the campaign and we'll take care of the rest
    </div>

    <div class="col-span-2">
        <h2 class="font-bold capitalize text-xl">Campaign Goal</h2>
    </div>
    <div class="col-span-6">
        <% goals.forEach(function(goal, index) { %>
            <div class="radio-item">
                <input type="radio" id="goal-<%= index %>" name="campaignGoal" value="<%= goal %>">
                <label class="text-lg capitalize font-normal pl-5" for="goal-<%= index %>">
                    <%= goal %>
                </label>
            </div>
            <% }) %>
    </div>

    <div class="col-span-2">
        <h2 class="font-bold capitalize text-xl">Brand Tone</h2>
    </div>
    <div class="col-span-6">
        <% tones.forEach(function(tone, index) { %>
            <div class="radio-item">
                <input type="radio" id="tone-<%= index %>" name="campaignTone" value="<%= tone %>">
                <label class="text-lg capitalize font-normal pl-5" for="tone-<%= index %>">
                    <%= tone %>
                </label>
            </div>
            <% }) %>
    </div>

    <div class="col-span-2">
        <h2 class="font-bold capitalize text-xl">Industry</h2>
    </div>
    <div class="col-span-6">
        <input type="text" name="" id="" class="border p-3 shadow-lg" placeholder="Marketing Agency">
    </div>

    <div class="col-span-2">
        <h2 class="font-bold capitalize text-xl">Fine tune the outputs</h2>
    </div>
    <div class="col-span-6">
        <div class="grid grid-cols-1 gap-y-5">
            <div>
                <input type="text" name="" id="" class="border p-3 shadow-lg capitalize" placeholder="your website">
            </div>
            <div>
                <input type="text" name="" id="" class="border p-3 shadow-lg capitalize" placeholder="your twitter">
            </div>

        </div>
    </div>

    <div class="col-span-8">
        <h2 class="font-bold capitalize text-xl">Tell us about the email you want to send:</h2>
    </div>
    <div class="col-span-8">
        <textarea class="border shadow-lg w-full" rows="10"></textarea>
    </div>

    <div class="col-span-4"></div>

    <div class="col-span-4 flex items-center justify-center">
        <button class="rounded-lg shadow-lg bg-orange-600 p-5 px-10 capitalize text-white font-bold">
            generate campaign
        </button>
    </div>

</div>